In [1]:
import numpy as np
import pandas as pd

import json  #For convert string to dictionary

# Make response sheet

In [2]:
data = pd.read_csv('D:\\decertation\\data\\Fact evolution dataset\\Google_KG_institution_CrowdScale_v3_question_full_data.csv')

In [3]:
data.columns

Index(['question', 'metadata'], dtype='object')

In [4]:
data

       question                                           metadata
0             1  {"obj": "/m/0lk0l", "sub": "/m/056h7f", "judgm...
1             2  {"obj": "/m/09c_lw", "sub": "/m/02v_brk", "jud...
2             3  {"obj": "/m/0g2ngm", "sub": "/m/0ph77", "judgm...
3             4  {"obj": "/m/0ckrjh", "sub": "/m/0g9zjv3", "jud...
4             5  {"obj": "/m/06w8bv", "sub": "/m/03p42t", "judg...
...         ...                                                ...
42619     42620  {"obj": "/m/01p7x7", "sub": "/m/09v8kh4", "jud...
42620     42621  {"obj": "/m/0187nd", "sub": "/m/05f5lyk", "jud...
42621     42622  {"obj": "/m/06zdw0", "sub": "/m/0hhq23_", "jud...
42622     42623  {"obj": "/m/0fpphm", "sub": "/m/05pb5k7", "jud...
42623     42624  {"obj": "/m/04ldy17", "sub": "/m/03hgykw", "ju...

[42624 rows x 2 columns]

In [5]:
data['metadata'][1]

'{"obj": "/m/09c_lw", "sub": "/m/02v_brk", "judgments": [{"judgment": 1, "rater": "12075143618468024163"}, {"judgment": 1, "rater": "14447675271069668697"}, {"judgment": 1, "rater": "1264223381988340244"}, {"judgment": 1, "rater": "16671464637895630418"}, {"judgment": 1, "rater": "15062272711075499926"}], "pred": "/people/person/education./education/education/institution", "question": 2, "evidences": [{"url": "http://en.wikipedia.org/wiki/Harry_Brooks_(politician)", "snippet": "Harry was born September 4, 1946. He graduated from Maryville High School, competed his undergraduate work as a Speech and Communication major at Carson Newman College, and got his graduate degree from the University of Tennessee, Knoxville. He is married to Mary and has two children. He retired from law enforcement and was a business employer before pursuing politics."}]}'

In [6]:
question_id, rater, response = [],[],[]
for k in range(len(data)):
    
    res = json.loads(data['metadata'][k])  #Transfer string to dictionary
    A = res['judgments']  #A is a list of judgment and rater
    
    for i in range(len(A)):
        response.append(A[i]['judgment'])
        rater.append(A[i]['rater'])
        question_id.append(res['question'])

In [7]:
reduced_rater = []
reduced_question = []
A = np.unique(rater)
B = np.unique(question_id)
for i in range(len(response)):
    reduced_rater.append(np.where(A == rater[i])[0][0])
    reduced_question.append(np.where(B == question_id[i])[0][0])

In [8]:
df = {'Question_Id' : question_id, 'Rater' : rater, 'Question_Reduced_Id' : reduced_question, 'Rater_Reduced_Id' : reduced_rater, 'Response' : response}     
df = pd.DataFrame(df)
df

,Question_Id,Rater,Question_Reduced_Id,Rater_Reduced_Id,Response
0,1,16671464637895630418,0,25,1
1,1,18153321702395861849,0,28,1
2,1,6570687721363324718,0,42,1
3,1,1295059937994543754,0,13,1
4,1,12022408018620867151,0,8,1
...,...,...,...,...,...
216720,42624,12022408018620867151,42623,8,0
216721,42624,13754604161689255068,42623,16,0
216722,42624,6968726908160095830,42623,47,1
216723,42624,16959325387609365299,42623,26,0
216724,42624,1295059937994543754,42623,13,0

# Save response as Response_sheet.csv

In [9]:
df.to_csv('Response_sheet.csv')

# Make New Gold Result

In [10]:
gold = pd.read_csv('D:\\decertation\\data\\Fact evolution dataset\\gold\\gold.csv')

In [11]:
gold

     question  answer
0       23647       1
1       10756       1
2       40638       1
3       22855       1
4       13988       1
..        ...     ...
571     31275       1
572     10516       1
573      9787       1
574     13362       1
575     24301       2

[576 rows x 2 columns]

In [12]:
gold.columns

Index(['question', 'answer'], dtype='object')

In [13]:
Question_id, Gold_level, Question_Reduced_Id = [], [], []

for i in range(len(gold)):
    Question_id.append(gold[gold.columns[0]][i])
    Question_Reduced_Id.append(np.where(B == gold[gold.columns[0]][i])[0][0])
    Gold_level.append(gold[gold.columns[1]][i])

In [14]:
df1 = {'Question_id' : Question_id,'Question_Reduced_Id': Question_Reduced_Id, 'Gold_level' : Gold_level}     
df1 = pd.DataFrame(df1)
df1

     Question_id  Question_Reduced_Id  Gold_level
0          23647                23646           1
1          10756                10755           1
2          40638                40637           1
3          22855                22854           1
4          13988                13987           1
..           ...                  ...         ...
571        31275                31274           1
572        10516                10515           1
573         9787                 9786           1
574        13362                13361           1
575        24301                24300           2

[576 rows x 3 columns]

# Save the new gold result as new_gold.csv

In [15]:
df1.to_csv('new_gold.csv')

# Make New Gold Result with no skip

In [16]:
Question_id1, Gold_level1, Question_Reduced_Id1 = [], [], []

for i in range(len(gold)):
    if gold[gold.columns[1]][i] != 2:
        Question_id1.append(gold[gold.columns[0]][i])
        Question_Reduced_Id1.append(np.where(B == gold[gold.columns[0]][i])[0][0])
        Gold_level1.append(gold[gold.columns[1]][i])

In [17]:
df2 = {'Question_id' : Question_id1,'Question_Reduced_Id': Question_Reduced_Id1, 'Gold_level' : Gold_level1}     
df2 = pd.DataFrame(df2)

# Save the new gold result without skip as new_gold_without_skip.csv

In [18]:
df2.to_csv('new_gold_without_skip.csv')