In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('D:\\decertation\\data\\Fact evolution dataset\\new code\\Response_sheet.csv')

In [3]:
data

,Unnamed: 0,Question_Id,Rater,Question_Reduced_Id,Rater_Reduced_Id,Response
0,0,1,16671464637895630418,0,25,1
1,1,1,18153321702395861849,0,28,1
2,2,1,6570687721363324718,0,42,1
3,3,1,1295059937994543754,0,13,1
4,4,1,12022408018620867151,0,8,1
...,...,...,...,...,...,...
216720,216720,42624,12022408018620867151,42623,8,0
216721,216721,42624,13754604161689255068,42623,16,0
216722,216722,42624,6968726908160095830,42623,47,1
216723,216723,42624,16959325387609365299,42623,26,0
216724,216724,42624,1295059937994543754,42623,13,0

In [4]:
data.columns

Index(['Unnamed: 0', 'Question_Id', 'Rater', 'Question_Reduced_Id',
       'Rater_Reduced_Id', 'Response'],
      dtype='object')

In [5]:
print(f'No of {data.columns[1]} is {len(pd.unique(data[data.columns[1]]))}')
print(f'No of {data.columns[2]} is {len(pd.unique(data[data.columns[2]]))}')
print(f'No of {data.columns[3]} is {len(pd.unique(data[data.columns[3]]))}')
print(f'No of {data.columns[4]} is {len(pd.unique(data[data.columns[4]]))}')

No of Question_Id is 42624
No of Rater is 57
No of Question_Reduced_Id is 42624
No of Rater_Reduced_Id is 57

In [6]:
row = len(pd.unique(data[data.columns[4]]))
column = len(pd.unique(data[data.columns[3]]))

response = -np.ones((row,column), dtype = 'int')

In [7]:
response.shape

(57, 42624)

In [8]:
response

array([[-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       ...,
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1]])

In [9]:
for i in range(len(data[data.columns[0]])):
    response[data[data.columns[4]][i]][data[data.columns[3]][i]] = data[data.columns[5]][i]

0/1/2 : no/yes/skip

In [10]:
print("The response matrix is :")
response

The response matrix is :

array([[-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       ...,
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1],
       [-1, -1, -1, ..., -1, -1, -1]])

In [11]:
with open('response_matrix.npy', 'wb') as f:
    np.save(f, response)